# Example of ANAIS configuration file.
# If some parameter is missing, default values will be used
NSIGNALS                1
MASKSIGNALS             2
# sampling rate in MHz
SAMPLING_RATE           2500
PULSE_DEPTH		500

# TDS Range Channel A (mV/division)
RANGE_CHANNEL_A        2
# TDS Range Channel B (mV/division)
RANGE_CHANNEL_B        500
RANGE_CHANNEL_C	     5

# TDS pretrigger (in points)
#!!!! from 18-03-09 in % !!!!
PRETRIGGER              20
BUFFER_DIMENSION        100
# Blocks per file (file size ~ Blocks_per_file * block_size
BLOCKS_PER_FILE         20
BLOCKS_PER_CALIBRATION   200
FILE_NAME               TFIII
# not used now
NO_COINCIDENCE          0
TDS_CONFIGURATION_FILE  TDS.cfg
