##########################
# General configurations
#########################
# set default factory settings (see manual)
FACTORY
# no header in the response
HEADER OFF
# acquisition mode:sample
AcQUIRE:MODE SAMPLE
AcQUIRE:SAMPLINGMODE RT

##########################
# Channel configuration
##########################
# activate channels 
# coupling
CH1:COUPLING DC
CH2:COUPLING DC
CH3:COUPLING DC

#CH4:SCALE 1
# vertical offset 
#(number of divisions starting from central division)
CH1:POSITION 4
CH2:POSITION -4
CH3:POSITION 4

#impedance (in ohms)
CH1:TERMINATION 50
CH2:TERMINATION 50
CH3:TERMINATION 50

##########################
# Data configuration
##########################
# Binary
DATA:ENCDG RIBINARY
# Resolution 1 byte
WFMOUTPRE:BYT_Nr 1
# Configuracion para la digitalizacion en ANAIS
# External Trigger 

TRIGGER:A:EDGE:SOURCE CH1

# modo flanco, normal, DC
# TRIGGER:A:TYPE EDGE
# TRIGGER:A:EDGE:COUPLING DC
# trigger level: TTL

 TRIGGER:A:LEVEL -0.0036

# TRIGGER:A:LEVEL -1.4
# fall edge trigger slope

TRIGGER:A:EDGE:SLOPE FALL

# TRIGGER:A:EDGE:SLOPE RISE

# Configuracion para TDSDaq (el osciloscopio realiza 
#       la coincidencia ente las dos vias)
#TRIGGER:A:TYPE LOGIC
#TRIGGER:A:LOGIC:FUNCTION AND
#TRIGGER:A:LOGIC:INPUT:CH1 LOW
#TRIGGER:A:LOGIC:INPUT:CH2 HIGH
#TRIGGER:A:LOGIC:INPUT:CH3 X
#TRIGGER:A:LOGIC:INPUT:CH4 X
#TRIGGER:A:LOGIC:PATTERN:WHEN TRUE
#TRIGGER:A:LOGIC:THRESHOLD:CH1 -0.018
#TRIGGER:A:LOGIC:THRESHOLD:CH2 0.150

#Para medir en anticoincidencia

#TRIGGER:A:LOGIC:FUNCTION AND
#TRIGGER:A:LOGIC:INPUT:CH1 LOW
#TRIGGER:A:LOGIC:INPUT:CH2 LOW
#TRIGGER:A:LOGIC:INPUT:CH3 X
#TRIGGER:A:LOGIC:INPUT:CH4 X
#TRIGGER:A:LOGIC:PATTERN:WHEN TRUE
#TRIGGER:A:LOGIC:THRESHOLD:CH1 -0.020
#TRIGGER:A:LOGIC:THRESHOLD:CH2 0.050



#HORIZONTAL:DELAY:MODE OFF
#TRIGGER:A:HOLDOFF:BY DEFAULT
#TRIGGER:B:STATE OFF

#maria 170607
ACQUIRE:STATE STOP

#MEASU:IMM:SOURCE[1] CH1
#MEASU:IMM:TYP MINI
#MEASU:IMM:STATE ON
